<header class="navbar navbar-inverse">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "トップページ", top_path %></li>
      <li class="nav-item"><%= link_to "このサイトについて", about_path %></li>
      <li class="nav-item"><%= link_to "ログイン", "#" %></li>
      <li class="nav-item"><%= link_to "ログアウト", "#" %></li>
      <li class="nav-item"><%= link_to "会員一覧", "#" %></li>
      <li class="nav-item"><%= link_to "投稿された希望するサービス一覧", "#" %></li>
      <li class="nav-item"><%= link_to "希望するサービスを投稿する", "#" %></li>
      <li class="nav-item"><%= link_to "お気に入り", "#" %></li>
    </ul>
  </nav>
</header>