<div class="post <%= "post#{post.id}" %>">
  <div class='user'>
    <%= link_to post.user.name, user_path %>
    <span class="timestamp"><%= post.created_at %></span>
  </div>
  <div class="content">
    <%= post.content %>
    <% post.images.each.with_index(1) do |image, index| %>
      <div class="images_item<%= index %>">
        <%= image_tag image.data.variant(resize: "500x>"),
                                         alt: image.alt_text%>
      </div>
    <% end %>
  </div>    
  <% if controller.kind_of?(Admin::Base) || current_user?(@user) %>
    <div class="delete">
      <%= link_to '削除', post_path,
                          method: :delete, data: { confirm: "You sure?" } %>
    </div>
    
    <div class='image'>
    <%= link_to '投稿の画像一覧', post_images_path(post) %>
    </div>
  <% end %>
  <%= render partial: 'shared/like_form', locals: {post: post} %>
</div>