<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class='container-fluid'>
      <%= render 'shared/header' %>
  
  <main class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  <div class='row'>
    <aside class='col-md-2'>
      <%= render 'shared/sidebar' %>
    </aside>

    <div class='col-md-8'>
      <%= yield %>
    </div>

    <aside class=col-md-2>
      <%= render 'shared/feed' %>
    </aside>
  </div>  
  </main>
  </div>

</body>

</html>